mixin checkbox(label, checked)
    label.checkbox
        input.checkbox__input(
            type='checkbox'
            name='name'
            checked=checked
        )
        span.checkbox__box
        | #{label}
