include ../subscribe-field/subscribe-field

mixin footer
    .footer
        img.footer__logo(src='components/footer/logo.svg' width=106 height=40)
        p.footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer__menu
            li.footer__menu-item
                h3.footer__menu-title навигация
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a.footer__menu-link О нас
                    li.footer__menu-list-item
                        a.footer__menu-link Новости
                    li.footer__menu-list-item
                        a.footer__menu-link Служба поддержки
                    li.footer__menu-list-item
                        a.footer__menu-link Услуги
            li.footer__menu-item
                h3.footer__menu-title о нас
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a.footer__menu-link О сервисе
                    li.footer__menu-list-item
                        a.footer__menu-link Наша команда
                    li.footer__menu-list-item
                        a.footer__menu-link Вакансии
                    li.footer__menu-list-item
                        a.footer__menu-link Инвесторы
            li.footer__menu-item
                h3.footer__menu-title Служба поддержки
                ul.footer__menu-list
                    li.footer__menu-list-item
                        a.footer__menu-link Соглашения
                    li.footer__menu-list-item
                        a.footer__menu-link Сообщества
                    li.footer__menu-list-item
                        a.footer__menu-link Связь с нами
        form.footer__form
            h3.footer__form-title Подписка
            p.footer__form-info
                | Получайте специальные предложения и новости сервиса
            label.footer__field-wrapper
                input.footer__form-field(type='email', placeholder='Email')
                button.footer__form-btn
            +subscribe-field(placeholder='e-mail')

        p.footer__copyright
            | Copyright © 2018 Toxin отель. Все права защищены.
        ul.footer__social
            li.footer__social-item
                a.footer__social-link.footer__social-link--tw
            li.footer__social-item
                a.footer__social-link.footer__social-link--fb
            li.footer__social-item
                a.footer__social-link.footer__social-link--ig

